version: 2.1

executors:
  linux:
    machine:
      image: ubuntu-2004:202111-02

  linux-arm64:
    resource_class:  electronjs/linux-arm64-docker-build
    machine: true

jobs:
  build-image:
    working_directory: ~/src
    parameters:
      dockerfile:
        type: string
      tag-prefix:
        type: string
      publish:
        type: boolean
      image-name:
        type: string
      executor-type:
        type: executor

    executor: << parameters.executor-type >>
    steps:
      - checkout
      - run:
          name: Get CircleCI runner
          command: tools/get-circleci-runner.sh
      - run:
          name: Register QEMU
          command: |
            docker run --privileged --rm tonistiigi/binfmt --install all
      - run:
          name: Build Docker Image - << parameters.dockerfile >>
          command: |
            docker build . -t electron-<< parameters.image-name >>-image -f << parameters.dockerfile >>
            docker tag electron-<< parameters.image-name >>-image ghcr.io/electron/<< parameters.image-name >>:<< parameters.tag-prefix>>latest
            docker tag electron-<< parameters.image-name >>-image ghcr.io/electron/<< parameters.image-name >>:<< parameters.tag-prefix >>$CIRCLE_SHA1

      - when:
          condition: << parameters.publish >>
          steps:
            - run:
                name: Push Docker Image
                command: |
                  echo "$GITHUB_TOKEN" | docker login  ghcr.io -u "$GITHUB_USER" --password-stdin
                  docker push ghcr.io/electron/<< parameters.image-name >>:<< parameters.tag-prefix>>latest
                  docker push ghcr.io/electron/<< parameters.image-name >>:<< parameters.tag-prefix >>$CIRCLE_SHA1

workflows:
  version: 2.1
  build:
    jobs:
      - build-image:
          name: publish-x64
          executor-type: linux
          dockerfile: Dockerfile
          tag-prefix: ''
          image-name: build
          publish: true
          filters:
            branches:
              only:
                - main
      - build-image:
          name: publish-devcontainer
          executor-type: linux
          dockerfile: Dockerfile.devcontainer
          tag-prefix: ''
          image-name: devcontainer
          publish: true
          filters:
            branches:
              only:
                - main
      - build-image:
          name: publish-arm32v7
          executor-type: linux-arm64
          dockerfile: Dockerfile.arm32v7
          tag-prefix: arm32v7-
          image-name: build
          publish: true
          filters:
            branches:
              only:
                - main
      - build-image:
          name: publish-arm64v8
          executor-type: linux-arm64
          dockerfile: Dockerfile.arm64v8
          tag-prefix: arm64v8-
          image-name: build
          publish: true
          filters:
            branches:
              only:
                - main
      - build-image:
          name: build-x64
          executor-type: linux
          dockerfile: Dockerfile
          tag-prefix: ''
          image-name: build
          publish: false
          filters:
            branches:
              ignore:
                - main
      - build-image:
          name: build-arm64v7-test
          executor-type: linux
          dockerfile: Dockerfile.tests.arm64v8
          tag-prefix: arm64v8-
          image-name: test
          publish: false
          filters:
            branches:
              ignore:
                - main
      - build-image:
          name: build-devcontainer
          executor-type: linux
          dockerfile: Dockerfile.devcontainer
          tag-prefix: ''
          image-name: devcontainer
          publish: false
          filters:
            branches:
              ignore:
                - main
      - build-image:
          name: build-arm32v7
          executor-type: linux-arm64
          dockerfile: Dockerfile.arm32v7
          tag-prefix: arm32v7-
          image-name: build
          publish: false
          filters:
            branches:
              ignore:
                - main
      - build-image:
          name: build-arm64v8
          executor-type: linux-arm64
          dockerfile: Dockerfile.arm64v8
          tag-prefix: arm64v8-
          image-name: build
          publish: false
          filters:
            branches:
              ignore:
                - main
