name: Build Docker images

on:
  push:
    branches-ignore:
      - main

jobs:
  build-x64:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: build
      dockerfile: Dockerfile
      publish: false
    secrets: inherit
  build-arm64v8-test:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: test
      dockerfile: Dockerfile.tests.arm
      tag-prefix: arm64v8-
      platform: linux/arm64
      publish: false
    secrets: inherit
  build-arm64v8-64k-test:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: test
      dockerfile: Dockerfile.tests.arm64k
      tag-prefix: arm64v8-64k-
      platform: linux/arm64
      publish: false
    secrets: inherit    
  build-arm32v7-test:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: test
      dockerfile: Dockerfile.tests.arm
      tag-prefix: arm32v7-
      platform: linux/arm
      publish: false
    secrets: inherit
  build-devcontainer:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: devcontainer
      dockerfile: Dockerfile.devcontainer
      publish: false
    secrets: inherit
