name: Build Docker images

on:
  pull_request:

jobs:
  build-x64:
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: build
      dockerfile: Dockerfile
      publish: false
    secrets: inherit
  build-arm64v8-test:
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: test
      dockerfile: Dockerfile.tests.arm
      tag-prefix: arm64v8-
      platform: linux/arm64
      publish: false
    secrets: inherit
  build-arm32v7-test:
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: test
      dockerfile: Dockerfile.tests.arm
      tag-prefix: arm32v7-
      platform: linux/arm
      publish: false
    secrets: inherit
  build-devcontainer:
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/pipeline-docker-build.yml
    with:
      docker-name: devcontainer
      dockerfile: Dockerfile.devcontainer
      publish: false
    secrets: inherit
